@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.contact{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #8892b0;
    text-decoration: none;
    padding: 10% 10%;
}

.contact h1{
    font-size: 36px;
    color: #ccd6f6;
    text-decoration: none;
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
}

.grid{
    display: flex;
    justify-content: center;
}

.grid svg{
    width: 200px;
    height: 200px;
    padding-left: 25%;
    padding-right: 25%;
}