@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*
 2000px works
 1200px
 */
@media(min-width: 1200px){
    .about_holder{
        margin-top: 250px;
        margin-left: 15%;
        margin-right: 15%;

    }

    h1{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        /* 22px */
        font-size: 100px;
        color: white;
        text-decoration: none;
    }

    p{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        /* 22px */
        font-size: 24px;
        color: white;
        text-decoration: none;
    }
}